/* Write your CSS here */
* {
  box-sizing: 0px;
}
body {
  margin: 0px;
}
.bg-container {
  min-height: 100vh;
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-light {
  background-color: #ffffff;
}
.bg-dark {
  background-color: #000000;
}
.color-dark {
  color: #000000;
}
.color-light {
  color: #ffffff;
}
.button {
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
  font-family: 'Roboto';
}
.heading {
  font-family: 'Roboto';
  font-size: 28px;
  text-align: center;
}
